@use "materialize/sass/materialize";

* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: materialize.$secondary-color;

  &.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}

.small-size {
  width: 20%
}